
/* 
verde header:  #5fad6b


*/

:root {
    --verde-principal: #5fad6b;
    --verde-grisClaro: #D4FADA;
    --verde-grisMuyClaro: #e7f5e9;
    --verde-grisOscuro:#9FBBA3;
    --verde-oscuro: #437A4C;
    --verde-claro: #89FA9A;
}





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    }

header {
   background: linear-gradient(to right,#D4FADA,  #5fad6b, #5fad6b, #5fad6b,#D4FADA);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 15px black; */

}

header figure {
    height: 100%;
    

}

header img {
height: 100%;;
}

header ul { 
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    font-size: 2rem;
    margin: 0 10px;
}



.mainContainer   {
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "hero"
                         "quienSoy"
                         "clases"
                         "notas";
}


.social{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
    height: 0;
    z-index: 20;
}

.icon {
    color: rgb(237, 234, 250);
    font-size: 30px;
    background: -webkit-linear-gradient(0deg, var(--verde-oscuro), var(--verde-principal));
    padding: 5px ;
    max-width: 50px;
    margin: 5px 0;
    /* transition-property: max-width  text-align; */
    /* transition-duration: 2s;  */

}

.icon:hover {
    max-width: 200px;
    /* transition-property: max-width text-align; */
    text-align: right;
    font-size: 30px;
    transition-duration: 2s; 
}   



.hero {
    /* margin: 15px; */
    /* border-radius: 30px;
    background-color: var(--verde-grisMuyClaro); */
    /* background-image: url("../imagenes/Back-Hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    padding: 10px;
    display: grid;
    grid-area: hero;
    /* grid-row: 50% 50%, 50% 50%; */
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    /* grid-template-rows: 1fr; */
    grid-template-areas: " . quienSoy-foto clases-foto notas-foto ."
                         ;
    gap: 5px;
}


.hero-encuadre {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: 12; */
    text-align: center;
    font-size: 4rem;
    padding-top: 80%;
    color: whitesmoke;
    background-color: rgba(0, 0 , 0, 0.5);
    display:none;
    
}

.hero-quienSoy-container:hover .hero-overlay{
    display: block;
}
.hero-clases-container:hover .hero-overlay{
    display: block;
}
.hero-notas-container:hover .hero-overlay{
    display: block;
}


.hero-overlay p {
    
}

.hero-quienSoy-container {
    grid-area: quienSoy-foto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    overflow: hidden;
}

.hero-clases-container {
    grid-area: clases-foto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    overflow: hidden;
}
.hero-notas-container {
    grid-area: notas-foto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    overflow: hidden;
}
.hero a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    overflow: hidden;
    /* position: relative; */
}

.quienSoyHero-foto  {
    height: 100%;
}

.clasesHero-foto  {
    height: 100%; 
}

.notasHero-foto  {
    height: 100%;  
}



.quienSoy {
    grid-area: quienSoy;
    /* background-color: lightcyan; */
    padding: 50px;
    /* color: var(--verde-principal); */
    color: #AD5F72;
}

.titulo-presentacion {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
}
.sub-titulosPresentacion {
    display: flex;
    align-items: center;
}
.sub-titulosPresentacion h3 {
    padding-right: 10px;
}

.container-presentacion {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.imagen-presentación {
    width: 100%;
}

.quienSoy p {
    padding-left: 20px;

}

.institutos {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-top: 20px;
}

.institutos-container {
    height: 100px;

    overflow: hidden;
    display: flex;
    

}

.imagen-instituto {
    height: 100%;
    /* width: 100%; */
}



.clases {
    grid-area: clases;
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: center;
}

.clases-container {
    /* background-color: var(--verde-grisMuyClaro); */
    width: 94%;
    /* border-radius: 30px; */
    padding: 20px;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: "ClasesBox ClasesBox ClasesBox ClasesBox"
                          " . cuadroClases1 cuadroClases2 . "   
                          " . cuadroClases3 cuadroClases4 . "   
    ;
    gap: 10px;

}

.ClasesBox {
    grid-area: ClasesBox;
    text-align: center;
    color: var(--verde-oscuro);
    padding: 5px   15px ;
    background-color: var(--verde-grisMuyClaro);
    /* border-radius: 30px; */
    height: 240%;

}
.ClasesBox h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
    /* color: #AD5F72; */

    
}


.cuadroClases {
    background-color: whitesmoke;
    border: var(--verde-grisOscuro) 1px solid;
    border-radius: 20px;
    padding: 10px 0;
    overflow: hidden;
}
 

.claseTitulo {
        /* background-color: var(--verde-grisClaro); */
        background-color: #AD5F72;
        text-align: center;
        width: 100%;
        color: white;

}

.claseDetail {
    padding:  10px;
}

.cuadroClases1 {
    grid-area:cuadroClases1 ;
}
.cuadroClases2 {
    grid-area:cuadroClases2 ;
}
.cuadroClases3 {
    grid-area:cuadroClases3 ;
}
.cuadroClases4 {
    grid-area:cuadroClases4 ;
}


.notas {
    grid-area: notas;
    background-color: lightpink;
}





footer {
    position: absolute;
    background-color: var(--verde-principal) ;
    /* display: flex;
    justify-content:end ; */
    font: 1rem;
    width: 100%;
    text-align: right;
    color: white;
    padding: 10px;
}
