@media screen and (max-width: 1024px) {

/* .mainContainer   {
    grid-template-rows: 700px 700px 1fr 750px;
} */



/* ------------------- hero */

.hero-encuadre{
    height: 600px;
}



/* --------------------- Quien Soy  */

.institutos-container {
    height: 90px;

}



/* ---------------- clases */

.claseDetail{
    background-color: rgba(95, 173, 107, 0.7); /*verde--principal*/
    height: 270px;
    color: white;
    margin: 10% 10% -10% 10%;
    border-radius: 5px;
}

.modalidadOnline{
    margin-top: 250px;
}

.cuadroClases{
    margin-bottom: 170px;
    margin-top: 170px;
}

.cuadroClases1{
    background-image: url("../imagenes/Cuadro1-1024.png");

}

.cuadroClases2{
    background-image: url("../imagenes/Cuadro2-1024.png");

}

.cuadroClases3{
    background-image: url("../imagenes/Cuadro3-1024.png");

}
.cuadroClases4{
    background-image: url("../imagenes/Cuadro4-1024.png");

} 







}


@media screen and (max-width: 768px){


    /* .mainContainer   {
        grid-template-rows: 600px 700px 2200px 750px;
    } */

    /* ------------------- hero */


.hero-overlayText{
    font-size: 3rem;
}

.hero-encuadre{
    height: 500px;
}


/* --------------------- Quien Soy  */

.institutos-container {
    height: 70px;}


.titulo-presentacion {
    font-size: .8rem;
}

.sub-titulosPresentacion {
    font-size: .8rem;
}

.quienSoy p {
    font-size: .8rem;
}



/* ---------------- clases */

.claseDetail {
    /* max-width: 66%; */
    height: 300px;
}


.ClasesBox h2 {
    font-size: 1.2rem
}

.clase-description{
    font-size: .8rem;
}

.cuadroClases li{
    font-size: .8rem;
}
.cuadroClases p{
    font-size: .8rem;
}


/* -------------------- NOTAS */

.notas h2{
    font-size: 1.2rem;
}

.notaBox li{
    font-size: .8rem;
}

}






@media screen and (max-width: 480px){

    /* .mainContainer   {
        grid-template-rows: 700px 900px 2000px 750px;
    } */

.social{
    top: 60%;
}



    /* ------------------- hero */
    

.hero {
    grid-template-columns: 1fr;
    grid-template-rows: 3% 1fr 1fr 1fr 3%;
    grid-template-areas: " . "
                        "quienSoy-foto" 
                        "clases-foto" 
                        "notas-foto" 
                        " . ";

}


.hero-overlay{
    padding-top: 10%;
}
.hero-overlay p{
    font-size: 2.5rem;
}

.hero-encuadre{
    height: 200px;
}


.institutos-container {
    height: 50px;}


/* --------------------- Quien Soy  */

.titulo-presentacion{
    display: block;
    text-align: center;
}

.sub-titulosPresentacion {
display: block;
text-align: center;
margin: 10px auto;
}



.sub-titulosPresentacion figure{
    margin: 0 auto;
}


/* ----------------------------clases */


.cuadroClases{
background-position: top;
max-height: 100px;
margin-top: 100px;
margin-bottom: 270px;


}


.claseDetail{
    margin: 10% 0 -10% ;
    max-width: 66%;
    height: 320px;

}

/* .claseDetail1{
    height: 220px;
}
.claseDetail2{
    height: 280px;
}
.claseDetail3{
    height: 250px;
}
.claseDetail4{
    height: 250px;
} */

/* -------------------- NOTAS */

.notas {
    margin: 15px;
}
.notasContainer{
    margin: 15px
}

.nota img {
    width: 45%;
}




}









@media screen and (max-width: 320px){

/* .mainContainer   {
    grid-template-rows: 700px 1000px 2200px 750px;
} */

.hero-overlay p{
    font-size: 2rem;
}

.quienSoy{
    padding: 10px;
}

    .institutos-container {
        height: 35px;}





/* -----------------------------------------  clases */


.claseDetail{
    margin: 10% auto 10% auto;
    max-width: 80%;
    max-height: 320px;
    height: 300px;
    }

.cuadroClases{
    /* margin-bottom: 140px; */
}

.cuadroClases1{
    background-image: url("../imagenes/Cuadro1-320.png");

}

.cuadroClases2{
    background-image: url("../imagenes/Cuadro2-320.png");

}

.cuadroClases3{
    background-image: url("../imagenes/Cuadro3-320.png");

}
.cuadroClases4{
    background-image: url("../imagenes/Cuadro4-320.png");

}

/* -------------------- NOTAS */

.notaDetail{
    display: block
}

.nota img {
    width: 100%;
}




}